.mylist {
  margin: 0.5em;
  //background-color: gainsboro;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  padding: 0.5em;
  .task {
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 0.5px grey;
  }
  .pri {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  .icons {
    display: flex;
    justify-content: flex-end;
    .icon {
      padding: 0 0.5em;
      cursor: pointer;
    }
  }
}
.high {
  background-color: #e220204f;
}
.Med {
  background-color: #ffeb3b96;
}
.Low {
  background-color: #ceff95;
}
